.dropdown-check-list {
    display: inline-block;
  }
  
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background-color: var(--background1);
  color: var(--text2);
  border-radius: 2px;
  border: 2px solid var(--accent1); 
  width:134px;
  padding: 5px;
    
}
  
 .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid var(--text2);
    border-top: 2px solid var(--text2);
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
  
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
  
.dropdown-check-list ul.items {
  background-color: var(--background1);
  padding: 2px;
  display: none;
  margin: 0;
  border: 2px solid var(--accent1);
  border-top: none;
  position: absolute;
  width: 140px;
  font-family: 'Comic Sans MS';
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: var(--accent2);
}

.dropdown-check-list.visible .items {
  display: block;
}

.dropdown-check-list ul.items li input{
  accent-color: var(--accent2);
}
