#sidebar {
    position: fixed;
    background: var(--background2);
    height: 100%;
    width: 200px;
    top: 0px;
    left: 0px;
    z-index:1;
    left:-200px;
    transition:0.3s;
}

#sidebar_menu {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 60px);
    position: relative;
    top: 10px;
    grid-row-gap: 10px;
}

.menu_button {
    transition-duration: 0.4s;
    background-color: var(--background);
    color: var(--text1);
    border-radius: 2px;
    border: 2px solid var(--accent1);
    width:100%;
    box-sizing:border-box;
    height: 100%;
    text-align: center;
    font-style: bold;
}

.menu_item {
    width:100%;
}

.song_item{
    break-inside: avoid-column;
}

.pdf_button img {
    width: 40px;
}

.pdf_button {
    padding: 5px;
    padding-right: 25px;
    padding-left: 20px;
    text-align: center;
    transition-duration: 0.4s;
    background-color: var(--background1);
    border-radius: 8px;
}

.pdf_button:hover {
    background-color: var(--background2); /* Green */
    color: var(--text1);
}

#hide{
    content:"";
    position: fixed;
    background-color: #00000000;
    top: 0px;
    left: 0px;
    z-index:1;
    /* display:none; */
    backdrop-filter: none;
    transition: background-color 0.5s linear,backdrop-filter 0.5s linear;
    height: 0;
    width: 0;
}

#hide.active{
    display:block;
    background-color: #c9c9c939;
    backdrop-filter: blur(1px);
    height: 100%;
    width: 100%;
}

#sidebar.active{
    left:0px;
}